@model PrimeraPracticaNetCore.Models.ModelZapasImagen

<div>
    <h1 class="text-center fw-bold text-primary">
        @Model.Zapatilla.Nombre
    </h1>
    <p class="text-center">@Model.Zapatilla.Descripcion</p>
</div>
<div id="imagenes" class="d-flex flex-column align-items-center">

</div>


@section Scripts{
    <script>
        function loadImagenes(posicion) {
            $("#imagenes").load("/Zapas/_ImagenesPartial?posicion=" + posicion
            + "&idzapa=" + @Model.Zapatilla.IdProducto)
        }
        $(document).ready(function () {
            loadImagenes(1);
        })
    </script>
}