@model PrimeraPracticaNetCore.Models.ModelZapasImagen

<div>
    <h1>@Model.Zapatilla.Nombre</h1>
    <p>@Model.Zapatilla.Descripcion</p>
</div>
<div id="imagenes">

</div>


@section Scripts{
    <script>
        function loadImagenes(posicion) {
            $("#imagenes").load("/Zapas/PartialImagen?posicion=" + posicion 
            + "&idzapa=" + @Model.Zapatilla.IdProducto)
        }
        $(document).ready(function () {
            loadImagenes(1);
        })
    </script>
}