@model IEnumerable<PrimeraPracticaNetCore.Models.Zapatilla>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Zapatillas</h1>


@foreach (Zapatilla zapa in Model)
{

    <a class="btn btn-danger"
       asp-controller="Zapas"
       asp-action="Details"
       asp-route-idZapa="@zapa.IdProducto">
        @zapa.Nombre
    </a>
}
